@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sixtyfour Convergence',serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: purple;
}

input, button {
    height: 32px;
    border: none;
    border-radius: 999px;
    padding: 0 12px;
}

input {
    margin-right: 8px;
}

button {
    cursor: pointer;
}

select {
    padding: 8px;
    margin-bottom: 24px;
    border-radius: 999px;
    font-size: 12px;
}

h3 {
    font-size: 12px;
}

/* HEADER */

.page__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainsearch {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.search-query {
    display: flex;
}

.header {
    width: 100%;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintitle {
    transition: 1s;
}

.fa-star {
    display: inline-block;
    color: rgba(242, 106, 15, 0.883);
    animation: rotating-star 1s infinite linear;
}

@keyframes rotating-star {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mainpara {
    padding: 12px 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* RESULT */

.result-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.result-card {
    width: 25%;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid orange;
}

.no-display {
    display: none;
}

.result-card__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px;
    background-image: linear-gradient(orange, purple);
}

.cardimage {
    width: 100%;
    aspect-ratio: 1/1.5;
    object-fit: fill;
    padding-bottom: 8px;
    border-radius: 5px;
}

.cardpara {
    font-size: 12px;
}

.loading-state {
    color: orange;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    z-index: -1;
}

.no-loading {
    visibility: hidden;
}

.fa-film {
    animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

@media (max-width: 1125px) {
    .mainsearch {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #filter {
        margin-top: 16px;
        font-size: 12px;
    }
}

@media (max-width: 820px) {
    .fa-star, .fa-solid {
        visibility: hidden;
    }
}

@media (max-width: 700px) {
    h1 {
        text-align: center;
    }
    .mainpara {
        text-align: center;
    }
}

@media (max-width: 560px) {
    .result-card {
        width: 65%;
    }
}