@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sixtyfour Convergence',serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(purple, orange);
}

input, button {
    height: 32px;
    border: none;
    border-radius: 999px;
    padding: 0 12px;
}

input {
    margin-right: 8px;
}

button {
    cursor: pointer;
}

.mainsearch {
    padding-top: 16px;
}

.header {
    width: 100%;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintitle {
    transition: 1s;
}

.fa-star {
    display: inline-block;
    color: rgba(242, 106, 15, 0.883);
    animation: rotating-star 1s infinite linear;
}

@keyframes rotating-star {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mainpara {
    padding: 12px 0;
}